@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --background: #ecf9ff;
  --btn-hover: #03001c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 60px;
}

.value {
  font-size: 100px;
}

.buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 7px;
  background: var(--background);
  border: 2px solid black;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  transition: all ease;
}
.btn__reset {
  width: 120px;
}

@media (max-width: 499px) {
  .btn__reset {
    width: 150px;
  }
}
.btn:hover {
  background: var(--btn-hover);
  color: white;
  transition: all 0.3s ease;
}
